<script setup>
import { ref, inject } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toastification';

const store = useStore();
const router = useRouter();
const toast = useToast();
const $loading = inject('$loading');
const email = ref('');
const password = ref('');

const handleClick = async () => {
    let loader = $loading.show();
    try {
        await store.dispatch('auth/login', { email: email.value, password: password.value });
        router.push('/');
        loader.hide();
    } catch (error) {
        loader.hide();
        toast.error(error.toString());
        throw new Error(error);
    }
};
</script>

<template>
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
                <form @submit.prevent="handleClick" class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
                    <div class="text-center mb-5">
                        <img src="/layout/images/murloc-icon.png" alt="Image" height="50" class="mb-3" />
                        <span class="font-medium text-2xl">Login</span>
                    </div>

                    <div>
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">E-mail</label>
                        <InputText id="email1" type="text" placeholder="Email address" class="w-full md:w-30rem mb-5" style="padding: 1rem" v-model="email" />
                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Senha</label>
                        <Password id="password1" v-model="password" placeholder="Password" :toggleMask="true" class="w-full mb-3" inputClass="w-full" :feedback="false" inputStyle="padding:1rem"></Password>
                        <Button type="submit" label="Entrar" icon="fa fa-sign-in" class="w-full p-3 text-xl" iconPos="right"></Button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<style scoped>
.pi-eye {
    transform: scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
}
</style>
