<script setup>
import DialogComponent from '@/components/DialogComponent.vue';
import { useVuelidate } from '@vuelidate/core';
import { required } from '@vuelidate/validators';
import { ref, inject, computed, watch } from 'vue';
import { useStore } from 'vuex';

const store = useStore();

const $loading = inject('$loading');
const $toast = inject('$toast');

const props = defineProps(['display', 'form']);
const emit = defineEmits(['closeModal']);

const form = computed(() => props.form);

const displayModal = computed(() => {
    return props.display;
});

const title = computed(() => (form.value.id ? 'Editar Membro' : 'Adicionar Membro'));

const submitted = ref(false);

const rules = computed(() => {
    return {
        form: {
            name: { required },
            server: { required },
            class: { required },
            // email: { required, email },
            role: { required },
            ep: { required },
            gp: { required }
        }
    };
});

const v$ = useVuelidate(rules, { form });

const classOptions = computed(() => store.getters['classes/classes']);
const roleOptions = computed(() => store.getters['roles/roles']);

const closeModal = async (value) => {
    displayModal.value = false;
    submitted.value = false;
    emit('closeModal', value);
};

watch(displayModal, async (value) => {
    if (value) {
        await store.dispatch('classes/get');
        await store.dispatch('roles/get');
    }
});

const save = async (isFormValid) => {
    submitted.value = true;

    if (!isFormValid) {
        $toast.error('Erro ao validar campos obrigatórios!');
        throw new Error('Erro ao validar campos obrigatórios!');
    }

    let loader = $loading.show();
    try {
        let data = {};
        Object.assign(data, form.value);
        const action = !data.id ? 'roster/create' : 'roster/update';
        await store.dispatch(action, data);
        closeModal(true);
        loader.hide();
    } catch (error) {
        loader.hide();
    }
};
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <DialogComponent :title="title" :display="displayModal" @closeModal="closeModal(false)">
                <template v-slot:main>
                    <div class="grid p-fluid py-3">
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <InputText
                                    id="name"
                                    type="text"
                                    v-model="v$.form.name.$model"
                                    :class="{
                                        'p-invalid': v$.form.name.$invalid && submitted
                                    }"
                                />
                                <label
                                    for="name"
                                    :class="{
                                        'text-danger': v$.form.name.$invalid && submitted
                                    }"
                                >
                                    Nome
                                </label>
                            </span>
                            <small v-if="(v$.form.name.$invalid && submitted) || v$.form.name.$pending.$response" class="p-error"> Nome é obrigatório </small>
                        </div>
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <InputText
                                    id="server"
                                    type="text"
                                    v-model="v$.form.server.$model"
                                    :class="{
                                        'p-invalid': v$.form.server.$invalid && submitted
                                    }"
                                />
                                <label
                                    for="server"
                                    :class="{
                                        'text-danger': v$.form.server.$invalid && submitted
                                    }"
                                >
                                    Servidor
                                </label>
                            </span>
                            <small v-if="(v$.form.server.$invalid && submitted) || v$.form.server.$pending.$response" class="p-error"> Servidor é obrigatório </small>
                        </div>
                        <div class="field col-12 xl:col-3">
                            <span class="p-float-label">
                                <Dropdown v-model="v$.form.class.$model" :options="classOptions" optionLabel="name" optionValue="name" placeholder="- Selecione -">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + slotProps.value + '.png'" />&nbsp;<span :class="slotProps.value" v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + slotProps.option.name + '.png'" />&nbsp;<span :class="slotProps.option.name" v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                                <label :class="{ 'text-danger': v$.form.class.$invalid && submitted }" for="class"> Classe </label>
                            </span>
                            <small v-if="(v$.form.class.$invalid && submitted) || v$.form.class.$pending.$response" class="p-error">Classe é obrigatório</small>
                        </div>
                        <div class="field col-12 xl:col-3">
                            <span class="p-float-label">
                                <Dropdown v-model="v$.form.role.$model" :options="roleOptions" optionLabel="name" optionValue="name" placeholder="- Selecione -">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Role" :src="'/layout/images/role_icons/' + slotProps.value + '.webp'" class="" />&nbsp;<span v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Role" :src="'/layout/images/role_icons/' + slotProps.option.name + '.webp'" class="" />&nbsp;<span v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                                <label :class="{ 'text-danger': v$.form.role.$invalid && submitted }" for="role"> Função </label>
                            </span>
                            <small v-if="(v$.form.role.$invalid && submitted) || v$.form.role.$pending.$response" class="p-error">Função é obrigatório</small>
                        </div>
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <InputText id="email" type="email" v-model="form.email" />
                                <label for="email"> E-mail </label>
                            </span>
                            <!-- <span class="p-float-label">
                                <InputText
                                    id="email"
                                    type="email"
                                    v-model="v$.form.email.$model"
                                    :class="{
                                        'p-invalid': v$.form.email.$invalid && submitted
                                    }"
                                />
                                <label
                                    for="email"
                                    :class="{
                                        'text-danger': v$.form.email.$invalid && submitted
                                    }"
                                >
                                    E-mail
                                </label>
                            </span> -->
                            <!-- <small v-if="v$.form.email.$error && submitted" class="p-error">Digite um email válido</small>
                            <small v-else-if="(v$.form.email.$invalid && submitted) || v$.form.email.$pending.$response" class="p-error">Campo Email é obrigatório</small> -->
                        </div>
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <InputNumber
                                    id="ep"
                                    type="number"
                                    v-model="v$.form.ep.$model"
                                    :class="{
                                        'p-invalid': v$.form.ep.$invalid && submitted
                                    }"
                                />
                                <label
                                    for="ep"
                                    :class="{
                                        'text-danger': v$.form.ep.$invalid && submitted
                                    }"
                                >
                                    EP
                                </label>
                            </span>
                            <small v-if="(v$.form.ep.$invalid && submitted) || v$.form.ep.$pending.$response" class="p-error"> EP é obrigatório </small>
                        </div>
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <InputNumber
                                    id="gp"
                                    type="number"
                                    v-model="v$.form.gp.$model"
                                    :class="{
                                        'p-invalid': v$.form.gp.$invalid && submitted
                                    }"
                                />
                                <label
                                    for="gp"
                                    :class="{
                                        'text-danger': v$.form.gp.$invalid && submitted
                                    }"
                                >
                                    GP
                                </label>
                            </span>
                            <small v-if="(v$.form.gp.$invalid && submitted) || v$.form.gp.$pending.$response" class="p-error"> GP é obrigatório </small>
                        </div>
                    </div>
                </template>
                <template v-slot:footer>
                    <div class="flex justify-content-end">
                        <Button icon="fa fa-save" class="p-button-raised p-button-success" label="Salvar" @click="save(!v$.$invalid)" />
                    </div>
                </template>
            </DialogComponent>
        </div>
    </div>
</template>
<style scoped></style>
