<script setup>
import MenuBarComponent from '@/components/MenuBarComponent.vue';
import FormModal from './FormModal.vue';
import { FilterMatchMode } from 'primevue/api';
import { computed, onMounted, reactive, ref, inject } from 'vue';
import { useStore } from 'vuex';
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'vue-toastification';

const toast = useToast();
const store = useStore();

const home = reactive({ icon: 'pi pi-home', to: '/' });
const items = ref([{ label: 'Roster', to: '/roster' }]);
const $loading = inject('$loading');

const displayModal = ref(false);
const confirm = useConfirm();
const form = reactive({
    name: '',
    server: '',
    role: '',
    class: '',
    ep: 1200,
    gp: 100,
    email: ''
});

onMounted(async () => {
    await store.dispatch('roster/getRoster');
    await store.dispatch('classes/get');
    await store.dispatch('roles/get');
});

const roster = computed(() => store.getters['roster/roster']);
const classOptions = computed(() => store.getters['classes/classes']);
const roleOptions = computed(() => store.getters['roles/roles']);

const closeModal = () => {
    displayModal.value = false;

    delete form.id;
    delete form.pr;
    Object.assign(form, {
        name: '',
        server: '',
        role: '',
        class: '',
        ep: 1200,
        gp: 100,
        email: ''
    });
};

const add = () => {
    console.log(form);
    displayModal.value = true;
};

const edit = (data) => {
    Object.assign(form, data);
    console.log(form);

    displayModal.value = true;
};

const del = async (data) => {
    confirm.require({
        message: `Deseja realmente apagar todos os dados do jogador: '${data.name}'?`,
        header: 'Deletar Jogador',
        icon: 'pi pi-exclamation-triangle',
        accept: async () => {
            let loader = $loading.show();
            try {
                await store.dispatch('roster/delete', data.id);
                toast.success('Jogador apagado com sucesso!');
                loader.hide();
            } catch (error) {
                loader.hide();
                toast.error(error.toString());
                throw new Error(error);
            }
        },
        reject: () => {
            confirm.close();
        }
    });
};

const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
    class: { value: null, matchMode: FilterMatchMode.EQUALS },
    role: { value: null, matchMode: FilterMatchMode.EQUALS }
});
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <div class="grid">
                <MenuBarComponent :home="home" :items="items">
                    <template v-slot:buttons>
                        <Button icon="fa fa-user-plus" class="p-button-secondary p-button-raised ml-1" @click="add" />
                        <!-- <Button icon="fa fa-file-excel" class="p-button-secondary p-button-outlined ml-1" @click="exportCSV" /> -->
                    </template>
                </MenuBarComponent>
            </div>

            <div class="grid">
                <div class="col-12">
                    <Toolbar>
                        <template #start>
                            <div class="flex flex-wrap gap-3">
                                <div class="d-flex align-items-center">
                                    <span class="p-input-icon-left my-auto">
                                        <i class="pi pi-search" />
                                        <InputText v-model="filters['global'].value" placeholder="Buscar" style="width: 100%" />
                                    </span>
                                </div>
                            </div>
                        </template>
                        <template #center>
                            <div class="flex flex-wrap gap-3">
                                <Dropdown id="class" v-model="filters['class'].value" placeholder="- Classe -" :options="classOptions" optionLabel="name" optionValue="name" :showClear="true">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + slotProps.value + '.png'" />&nbsp;<span :class="slotProps.value" v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + slotProps.option.name + '.png'" />&nbsp;<span :class="slotProps.option.name" v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                                <Dropdown id="roles" v-model="filters['role'].value" placeholder="- Função -" :options="roleOptions" optionLabel="name" optionValue="name" :showClear="true">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Role" :src="'/layout/images/role_icons/' + slotProps.value + '.webp'" class="" />&nbsp;<span v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Role" :src="'/layout/images/role_icons/' + slotProps.option.name + '.webp'" class="" />&nbsp;<span v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                            </div>
                        </template>
                    </Toolbar>
                </div>
            </div>

            <div class="grid">
                <div class="col-12">
                    <TabView>
                        <TabPanel>
                            <template #header>
                                <span>Roster</span>
                            </template>
                            <DataTable
                                :value="roster"
                                dataKey="id"
                                sortField="pr"
                                :sortOrder="-1"
                                :paginator="true"
                                :rows="10"
                                class="p-datatable-gridlines p-datatable-sm"
                                paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                :rowsPerPageOptions="[10, 20, 50]"
                                responsiveLayout="scroll"
                                currentPageReportTemplate="{first} até {last} de {totalRecords}"
                                ref="dt"
                                v-model:filters="filters"
                            >
                                <template #empty>
                                    <div class="col-12 text-center">
                                        <span>Ainda não há dados ainda</span>
                                    </div>
                                </template>
                                <Column field="name" header="Nickname" :sortable="true">
                                    <template #body="{ data }">
                                        <img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + data.class + '.png'" /> <span :class="data.class">{{ data.name }}</span>
                                    </template>
                                </Column>
                                <!-- <Column field="email" header="E-mail" :sortable="true" headerStyle="width: 3em" /> -->

                                <Column field="role" header="Função" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }"> <img alt="Role" :src="'/layout/images/role_icons/' + data.role + '.webp'" class="" /> {{ data.role }} </template>
                                </Column>
                                <Column field="ep" header="EP" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right ep">{{ data.ep.toFixed(2) }}</div>
                                    </template>
                                </Column>
                                <Column field="gp" header="GP" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right gp">{{ data.gp }}</div>
                                    </template>
                                </Column>
                                <Column field="pr" header="PR" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right pr">{{ data.pr.toFixed(2) }}</div>
                                    </template>
                                </Column>
                                <Column field="" header="Raider.io" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <a :href="'https://raider.io/characters/us/' + data.server + '/' + data.name" target="_blank"><img alt="Class" style="max-width: 70px" :src="'/layout/images/raiderio.svg'" /></a>
                                    </template>
                                </Column>
                                <Column field="" header="" headerStyle="width: 5em">
                                    <template #body="{ data }">
                                        <div class="d-inline-flex">
                                            <Button icon="fa fa-edit" class="p-button-text p-button-warning p-button-sm" title="Editar" @click="edit(data)"></Button>
                                            <Button icon="fa fa-trash" class="p-button-text p-button-danger p-button-sm" title="Apagar" @click="del(data)"></Button>
                                        </div>
                                    </template>
                                </Column>
                            </DataTable>
                        </TabPanel>
                    </TabView>
                </div>
            </div>
        </div>
        <FormModal :display="displayModal" :form="form" @closeModal="closeModal" />
        <ConfirmDialog />
    </div>
</template>

<style scoped></style>
