<script setup>
import { computed, onMounted } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
const router = useRouter();
const store = useStore();

const smoothScroll = (id) => {
    document.querySelector(id).scrollIntoView({
        behavior: 'smooth'
    });
};

const user = computed(() => store.getters['auth/user']);
const roster = computed(() => store.getters['roster/roster']);
const slots = computed(() => store.getters['slots/slots']);
const logs = computed(() => store.getters['logs/logs']);
const lootsByPatch = computed(() => store.getters['loots/lootsByPatch']);
const currentRaid = computed(() => store.getters['raids/currentRaid']);

const logsByDate = computed(() => {
    let coreDates = [];

    logs.value.map((log) => {
        if (log.reason == 'Início da Raid' && log.type == 'gain') {
            coreDates.push({
                date: new Date(log.date.seconds * 1000).toLocaleDateString('pt-BR', {
                    timeZone: 'America/Fortaleza'
                }),
                data: []
            });
        }
    });

    coreDates.map((core) => {
        logs.value.map((log) => {
            let logDate = new Date(log.date.seconds * 1000).toLocaleDateString('pt-BR', {
                timeZone: 'America/Fortaleza'
            });
            if (logDate == core.date) {
                core.data.push(log);
            }
        });
    });

    return coreDates;
});

const lootByUrl = computed(() => {
    let data = [];
    lootsByPatch.value.forEach((loot) => {
        data[loot.url] = loot;
    });

    return data;
});

const signup = () => {
    router.push('/auth/signup');
};

const login = () => {
    router.push('/auth/login');
};

const home = () => {
    router.push('/');
};

onMounted(async () => {
    await store.dispatch('roster/getRoster');
    await store.dispatch('slots/get');
    await store.dispatch('logs/get');
    await store.dispatch('loots/getByPatch', currentRaid.value);
});
</script>

<template>
    <div class="overflow-hidden">
        <ScrollTop />
        <!-- MENU -->
        <div class="surface-0">
            <!-- <div class="grid bg-blue-600 d-flex justify-content-center my-auto">
                <div class="col-11 xl:col-8 d-flex justify-content-between">
                    <small @click="smoothScroll('#map')" class="text-white cursor-pointer"><i class="pi pi-map-marker" />&nbsp;Av. Washington Soares, 999 - Edson Queiroz, Fortaleza - CE</small>
                    <small @click="goToWhatsapp" class="text-white cursor-pointer"><i class="pi pi-whatsapp" />&nbsp;55 (85) 99109-0070</small>
                </div>
            </div> -->

            <div class="col-11 xl:col-8 mx-auto flex align-items-center justify-content-between relative lg:static">
                <router-link to="/" class="flex align-items-center">
                    <img :src="'/layout/images/murloc-icon.png'" alt="Logo" height="80" class="mr-0 lg:mr-2" />
                    <span class="text-900 font-medium text-2xl line-height-3 mr-8">EPGP Murlocs</span>
                </router-link>
                <a
                    class="cursor-pointer block lg:hidden text-700 p-ripple"
                    v-ripple
                    v-styleclass="{
                        selector: '@next',
                        enterClass: 'hidden',
                        leaveToClass: 'hidden',
                        hideOnOutsideClick: true
                    }"
                >
                    <i class="pi pi-bars text-4xl"></i>
                </a>
                <div class="surface-0 align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" style="top: 92%">
                    <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                        <li class="menu-item">
                            <a @click="smoothScroll('#leaderboard')" class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 p-ripple" v-ripple>
                                <span>Ranking</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a @click="smoothScroll('#regras')" class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 p-ripple" v-ripple>
                                <span>Regras</span>
                            </a>
                        </li>
                        <li class="menu-item" v-if="logs.length > 0">
                            <a @click="smoothScroll('#logs')" class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 p-ripple" v-ripple>
                                <span>Histórico</span>
                            </a>
                        </li>
                    </ul>

                    <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
                        <div class="flex justify-content-between gap-2">
                            <Button v-if="user" label="Cadastrar Officer" @click="signup" class="p-button-raised p-button-rounded p-button-primary text-white font-light line-height-2" icon="pi pi-plus-circle" iconPos="right" />
                            <Button v-if="user" label="Área do Officer" @click="home" class="p-button-raised p-button-rounded p-button-secondary text-white font-light line-height-2" icon="pi pi-external-link" iconPos="right" />
                            <Button v-else label="Login" @click="login" class="p-button-rounded p-button-raised ml-5 font-light text-white line-height-2" icon="pi pi-sign-in" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-11 xl:col-8 mx-auto m-0 surface-0">
            <div class="grid col-12" id="leaderboard">
                <h2 class="text-900 font-bold mb-2 border-green-600">Leaderboard</h2>
            </div>
            <DataTable :value="roster" dataKey="id" sortField="pr" :sortOrder="-1" class="p-datatable-gridlines p-datatable-sm p-datatable-striped" responsiveLayout="scroll">
                <template #empty>
                    <div class="col-12 text-center">
                        <span>Ainda não há dados ainda</span>
                    </div>
                </template>
                <Column field="" header="Pos." headerStyle="width: 3em">
                    <template #body="slotProps">
                        <div class="text-center">{{ slotProps.index + 1 }}°</div>
                    </template>
                </Column>
                <Column field="name" header="Nickname">
                    <template #body="{ data }">
                        <img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + data.class + '.png'" /> <span :class="data.class">{{ data.name }}</span>
                    </template>
                </Column>
                <Column field="role" header="Função" headerStyle="width: 10em">
                    <template #body="{ data }">
                        <div class="text-center"><img alt="Role" :src="'/layout/images/role_icons/' + data.role + '.webp'" class="" /> {{ data.role }}</div>
                    </template>
                </Column>
                <Column field="ep" header="EP" headerStyle="width: 3em">
                    <template #body="{ data }">
                        <div class="text-right ep">{{ data.ep.toFixed(2) }}</div>
                    </template>
                </Column>
                <Column field="gp" header="GP" headerStyle="width: 3em">
                    <template #body="{ data }">
                        <div class="text-right gp">{{ data.gp }}</div>
                    </template>
                </Column>
                <Column field="pr" header="PR" headerStyle="width: 3em">
                    <template #body="{ data }">
                        <div class="text-right pr">{{ data.pr.toFixed(2) }}</div>
                    </template>
                </Column>
                <Column field="" header="Raider.io" headerStyle="width: 3em">
                    <template #body="{ data }">
                        <a :href="'https://raider.io/characters/us/' + data.server + '/' + data.name" target="_blank"><img alt="Class" style="max-width: 70px" :src="'/layout/images/raiderio.svg'" /></a>
                    </template>
                </Column>
            </DataTable>
        </div>
        <div class="col-11 grid xl:col-8 mx-auto m-0 surface-0">
            <div class="grid col-12" id="regras">
                <h2 class="text-900 font-bold mb-2 border-green-600">Regras</h2>
            </div>
            <h3>Sistema EPGP</h3>
            <p>
                Atenção a todos, devido aos problemas de distribuição de loot (loot council) na Season 1 resolvemos começar com sistema de loot EPGP onde o jogador é responsável por administrar seus pontos. Qualquer dúvida pergunte para algum officer
                fora do horário de raid, todos irão te ajudar.
            </p>
            <div class="p-4 col-12 xl:col-6">
                <ul>
                    <li class="text-justify mb-1">
                        <label>Distribuição de EP:</label><br />
                        <ul>
                            <li>50% ás 22:05 (tolerância de 5 minutos)</li>
                            <li>25% ás 23:00</li>
                            <li>25% ás 00:00</li>
                        </ul>
                    </li>

                    <li class="text-justify mb-1">
                        <label>Por favor! Seja responsável pelo seus pontos, nao mande mensagem para algum lider se você chegou atrasado!</label>
                    </li>

                    <li class="text-justify mb-1">
                        <label>Distribuição GP:</label>
                        <ul>
                            <li><label>Offspec e Transmog:</label> 0% de gp cobrado</li>
                            <!-- <li><label>Minor Upgrade:</label> 25% de gp cobrado</li> -->
                            <li><label>Major Upgrade:</label> 100% de gp cobrado</li>
                            <li><label>Decay 10% por semana:</label> O decay existe para a galera não ficar juntando EP e depois fazer a "feira" e pegar varios loots, então gaste seus pontos pois eles cairão semanalmente.</li>
                        </ul>
                        <label
                            >Todos esses valores estão sujeitos a mudanças conforme a necessidade, o objetivo principal é equalizar a gear do grupo, não somos hardcore, tão pouco semi hardcore, é interessante pro grupo todo mundo se equipar.</label
                        >
                    </li>

                    <li class="text-justify mb-1">
                        <label>Regras para todo tipo de BOE inclusive receitas:</label>
                        <ul>
                            <li>Quem tiver sorte de pegar o BOE (receitas, etc) fica com o loot, se alguem do grupo precisar, negocie com o cagado.</li>
                        </ul>
                    </li>

                    <li class="text-justify mb-1">
                        <label>Regras Gerais:</label>
                        <ul>
                            <li>Não reclame de loot durante o horário de raid.</li>
                            <li>Sem brigas, o grupo é softcore e o único objetivo a princípio é fechar HC, porém não queremos pessoas que morrem no primeiro minuto de luta ou que chegam sempre atrasadas.</li>
                            <li>
                                Não vá em PUG com o personagem que está no core antes de término semanal do core (quarta as 00:00). Se você matar algum chefe na terça por exemplo, estará prejudicando seu grupo, perderá EP por isso. Após o término
                                semanal do core fique a vontade para pugar.
                            </li>
                        </ul>
                    </li>
                    <li class="text-justify mb-1">
                        <label>O que o Chernocore espera de você:</label>
                        <ul>
                            <li>Venha com o seu personagem devidamente gemado e encantado.</li>
                            <li>Consumíveis obrigatórios: Phial, Food e runas de arma.</li>
                            <li>Seu desempenho importa, mas seu comprometimento é mais relevante.</li>
                            <li>Procure informações sobre a sua classe, veja videos de como sua classe faz cada boss, treine no dummy, isso vai te ajudar na memoria muscular.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="pt-4 col-12 xl:col-6">
                <DataTable :value="slots" dataKey="id" sortField="gp" :sortOrder="-1" class="p-datatable-gridlines p-datatable-sm p-datatable-striped" responsiveLayout="scroll">
                    <template #empty>
                        <div class="col-12 text-center">
                            <span>Ainda não há slots ainda</span>
                        </div>
                    </template>
                    <Column field="name" header="Slot" />
                    <Column field="gp" header="Pontos" />
                </DataTable>
            </div>
        </div>
        <div class="col-11 xl:col-8 mx-auto m-0 surface-0" v-if="logs.length > 0">
            <div class="grid col-12" id="logs">
                <h2 class="text-900 font-bold mb-2 border-green-600">Histórico</h2>
            </div>
            <div v-for="logByDate in logsByDate" :key="logByDate.date">
                <Panel :header="logByDate.date" toggleable :collapsed="true">
                    <DataTable :value="logByDate.data" dataKey="id" sortField="date" :sortOrder="-1" :rows="10" class="p-datatable-gridlines p-datatable-sm p-datatable-striped" responsiveLayout="scroll">
                        <template #empty>
                            <div class="col-12 text-center">
                                <span>Ainda não há log</span>
                            </div>
                        </template>
                        <Column field="date" header="Horário" headerStyle="width: 3em">
                            <template #body="{ data }">
                                <span class="text-center">
                                    {{
                                        new Date(data.date.seconds * 1000).toLocaleTimeString('pt-BR', {
                                            timeZone: 'America/Fortaleza'
                                        })
                                    }}
                                </span>
                            </template>
                        </Column>
                        <Column field="name" header="Jogadores">
                            <template #body="{ data }">
                                <ul>
                                    <li v-for="player in data.data" :key="player.id">
                                        <img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + player.class + '.png'" /> <span :class="player.class">{{ player.name }}</span>
                                    </li>
                                </ul>
                            </template>
                        </Column>
                        <Column field="reason" header="Motivo">
                            <template #body="{ data }">
                                <div v-if="data.point_type == 'gp'">
                                    <a :href="data.reason" target="_blank" v-tooltip="'Boss: ' + lootByUrl[data.reason].boss + '\nSlot: ' + lootByUrl[data.reason].slot">
                                        <img :src="lootByUrl[data.reason].icon" style="max-width: 25px" /> <b id="drop" class="loot ml-2"> {{ lootByUrl[data.reason].name }} / {{ lootByUrl[data.reason].name_ptbr }}</b>
                                    </a>
                                </div>
                                <div v-else>{{ data.reason }}</div>
                            </template>
                        </Column>
                        <Column field="type" header="Ganho/Perda" headerStyle="width: 3em">
                            <template #body="{ data }">
                                <div class="text-center">
                                    <Tag v-if="data.type == 'gain'" value="Ganho" severity="success" />
                                    <Tag v-else value="Perda" severity="danger" />
                                </div>
                            </template>
                        </Column>
                        <Column field="variation" header="Variação" headerStyle="width: 3em">
                            <template #body="{ data }">
                                <div class="text-center">{{ data.variation }}</div>
                            </template>
                        </Column>
                        <Column field="points" header="Pontos" headerStyle="width: 3em">
                            <template #body="{ data }">
                                <div class="text-center font-bold" :class="data.point_type">{{ data.points }}&nbsp;{{ data.point_type }}</div>
                            </template>
                        </Column>
                    </DataTable>
                </Panel>
                <Divider />
            </div>
        </div>
    </div>
</template>

<style scoped>
#hero {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, var(--blue-700) 0%, var(--blue-200) 100%);
    height: 700px;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    #hero {
        -webkit-clip-path: ellipse(150% 87% at 93% 13%);
        clip-path: ellipse(150% 87% at 93% 13%);
        height: 530px;
    }
}

@media screen and (min-width: 1300px) {
    #hero > img {
        position: absolute;
    }

    #hero > div > p {
        max-width: 500px;
    }
}

@media screen and (max-width: 1300px) {
    #hero {
        height: 600px;
    }

    #hero > img {
        position: static;
        transform: scale(1);
        margin-left: auto;
    }

    #hero > div {
        width: 100%;
    }

    #hero > div > p {
        width: 100%;
        max-width: 100%;
    }

    .menu-item :hover {
        color: var(--green-600) !important;
        font-weight: bold !important;
    }
}
</style>
