<template>
    <div v-if="!this.assinatura"
        class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
            <div class="col-12 xl:col-6"
                style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(247, 149, 48, 0.4) 10%, rgba(247, 149, 48, 0) 30%);">
                <div class="h-full w-full m-0 py-7 px-4"
                    style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                    <div class="grid flex flex-column align-items-center">

                        <Avatar icon="pi pi-times-circle" class="bg-danger text-white" size="xlarge" shape="circle">
                        </Avatar>
                        <h1 class="font-bold text-5xl text-900 mb-2">Erro!</h1>
                        <h5 class="">Nenhum código de rastreio foi informado!</h5>
                        <div class="col-12 mt-5 text-center">
                            <Button icon="pi pi-fw pi-arrow-left" class="p-button-rounded"
                                label="Ir para a Página Inicial" @click="this.$router.push('/')" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else
        class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
            <div class="col-12 xl:col-6"
                style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(247, 149, 48, 0.4) 10%, rgba(247, 149, 48, 0) 30%);">
                <div class="h-full w-full m-0 py-7 px-4"
                    style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                    <div class="grid flex flex-column align-items-center">

                        <Avatar icon="pi pi-check-circle" class="bg-success text-white" size="xlarge" shape="circle">
                        </Avatar>
                        <h1 class="font-bold text-5xl text-900 mb-2">Rastreado com sucesso!</h1>
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Cod.</th>
                                        <th>Data</th>
                                        <th>Rastreio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{this.assinatura.solicitacao_id}}</td>
                                        <td>{{this.assinatura.data}}</td>
                                        <td>{{this.assinatura.rastreio}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            assinatura: null,
            rastreio: null
        }
    },

    async mounted() {
        this.rastreio = this.$route.query.q;
        // this.rastreio = this.$route.query.rastreio;
        if (this.rastreio) {
            let loader = this.$loading.show();
            try {
                this.assinatura = await this.$store.dispatch("solicitacoes/findByRastreio", this.rastreio);
                loader.hide();
            }
            catch (error) {
                loader.hide();
                throw new Error(error);
            }
        }
    },
};
</script>