<script setup>
import DialogComponent from '@/components/DialogComponent.vue';
import { useVuelidate } from '@vuelidate/core';
import { required } from '@vuelidate/validators';
import { ref, inject, computed, watch } from 'vue';
import { useStore } from 'vuex';

const store = useStore();

const $loading = inject('$loading');
const $toast = inject('$toast');

const props = defineProps(['display', 'form', 'raid']);
const emit = defineEmits(['closeModal']);

const form = computed(() => props.form);

const displayModal = computed(() => {
    return props.display;
});

const submitted = ref(false);

const title = computed(() => (form.value.id ? 'Editar Item' : 'Adicionar Item'));

const rules = computed(() => {
    return {
        form: {
            boss: { required },
            icon: { required },
            name: { required },
            name_ptbr: { required },
            slot: { required },
            url: { required }
        }
    };
});

const v$ = useVuelidate(rules, { form });

const bossOptions = computed(() => store.getters['bosses/bosses']);
const slotOptions = computed(() => store.getters['slots/slots']);

const closeModal = async (value) => {
    displayModal.value = false;
    submitted.value = false;
    emit('closeModal', value);
};

watch(displayModal, async (value) => {
    if (value) {
        await store.dispatch('bosses/get', props.raid);
        await store.dispatch('slots/get');
    }
});

const save = async (isFormValid) => {
    submitted.value = true;

    if (!isFormValid) {
        $toast.error('Erro ao validar campos obrigatórios!');
        throw new Error('Erro ao validar campos obrigatórios!');
    }

    let idRaid = props.raid;
    let loader = $loading.show();
    try {
        let data = {};
        Object.assign(data, form.value);
        const action = !data.id ? 'loots/create' : 'loots/update';
        await store.dispatch(action, { form: data, idRaid: idRaid });
        closeModal(true);
        loader.hide();
    } catch (error) {
        loader.hide();
    }
};
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <DialogComponent :title="title" :display="displayModal" @closeModal="closeModal(false)">
                <template v-slot:main>
                    <div class="grid p-fluid py-3">
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <InputText
                                    id="name"
                                    type="text"
                                    v-model="v$.form.name.$model"
                                    class="loot"
                                    :class="{
                                        'p-invalid': v$.form.name.$invalid && submitted
                                    }"
                                />
                                <label
                                    for="name"
                                    :class="{
                                        'text-danger': v$.form.name.$invalid && submitted
                                    }"
                                >
                                    Nome en-US
                                </label>
                            </span>
                            <small v-if="(v$.form.name.$invalid && submitted) || v$.form.name.$pending.$response" class="p-error"> Nome en-US é obrigatório </small>
                        </div>
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <InputText
                                    id="name_ptbr"
                                    type="text"
                                    v-model="v$.form.name_ptbr.$model"
                                    class="loot"
                                    :class="{
                                        'p-invalid': v$.form.name_ptbr.$invalid && submitted
                                    }"
                                />
                                <label
                                    for="name_ptbr"
                                    :class="{
                                        'text-danger': v$.form.name_ptbr.$invalid && submitted
                                    }"
                                >
                                    Nome pt-BR
                                </label>
                            </span>
                            <small v-if="(v$.form.name_ptbr.$invalid && submitted) || v$.form.name_ptbr.$pending.$response" class="p-error"> Nome pt-BR é obrigatório </small>
                        </div>
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <Dropdown inputId="boss" v-model="v$.form.boss.$model" :options="bossOptions" :filter="true" optionLabel="name" optionValue="name" placeholder="- Selecione -">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Class" style="max-width: 25px" :src="'/layout/images/boss_icons/' + slotProps.value + '.png'" />&nbsp;<span :class="slotProps.value" v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Boss" style="max-width: 25px" :src="'/layout/images/boss_icons/' + slotProps.option.name + '.png'" />&nbsp;<span :class="slotProps.option.name" v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                                <label :class="{ 'text-danger': v$.form.boss.$invalid && submitted }" for="boss"> Boss </label>
                            </span>
                            <small v-if="(v$.form.boss.$invalid && submitted) || v$.form.boss.$pending.$response" class="p-error">Boss é obrigatório</small>
                        </div>
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <Dropdown inputId="slot" v-model="v$.form.slot.$model" :options="slotOptions" optionLabel="name" :filter="true" optionValue="name" placeholder="- Selecione -">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><span v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><span v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                                <label :class="{ 'text-danger': v$.form.slot.$invalid && submitted }" for="slot"> Slot </label>
                            </span>
                            <small v-if="(v$.form.slot.$invalid && submitted) || v$.form.slot.$pending.$response" class="p-error">Slot é obrigatório</small>
                        </div>
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <InputText
                                    id="icon"
                                    type="text"
                                    v-model="v$.form.icon.$model"
                                    :class="{
                                        'p-invalid': v$.form.icon.$invalid && submitted
                                    }"
                                />
                                <label
                                    for="icon"
                                    :class="{
                                        'text-danger': v$.form.icon.$invalid && submitted
                                    }"
                                >
                                    Ícone
                                </label>
                            </span>
                            <small v-if="(v$.form.icon.$invalid && submitted) || v$.form.icon.$pending.$response" class="p-error"> Ícone é obrigatório </small>
                        </div>
                        <div class="field col-12 xl:col-6">
                            <span class="p-float-label">
                                <InputText
                                    id="url"
                                    type="text"
                                    v-model="v$.form.url.$model"
                                    :class="{
                                        'p-invalid': v$.form.url.$invalid && submitted
                                    }"
                                />
                                <label
                                    for="url"
                                    :class="{
                                        'text-danger': v$.form.url.$invalid && submitted
                                    }"
                                >
                                    URL WoWHead
                                </label>
                            </span>
                            <small v-if="(v$.form.url.$invalid && submitted) || v$.form.url.$pending.$response" class="p-error"> URL WoWHead é obrigatório </small>
                        </div>
                    </div>
                </template>
                <template v-slot:footer>
                    <div class="flex justify-content-end">
                        <Button icon="fa fa-save" class="p-button-raised p-button-success" label="Salvar" @click="save(!v$.$invalid)" />
                    </div>
                </template>
            </DialogComponent>
        </div>
    </div>
</template>
<style scoped></style>
