<script setup>
import MenuBarComponent from '@/components/MenuBarComponent.vue';
import FormModal from './FormModal.vue';
import { FilterMatchMode } from 'primevue/api';
import { computed, onMounted, reactive, ref, inject, watch } from 'vue';
import { useStore } from 'vuex';
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'vue-toastification';

const toast = useToast();
const store = useStore();

const home = reactive({ icon: 'pi pi-home', to: '/' });
const items = ref([{ label: 'Itens', to: '/items' }]);
const $loading = inject('$loading');

const lang_ptbr = ref(true);
const displayModal = ref(false);
const confirm = useConfirm();

const form = reactive({
    boss: '',
    icon: '',
    name: '',
    name_ptbr: '',
    slot: '',
    url: ''
});

onMounted(async () => {
    await store.dispatch('raids/get');
    await store.dispatch('slots/get');
});

const idRaid = ref();
const selectedRaid = ref(null);
const loots = computed(() => store.getters['loots/loots']);
const raidOptions = computed(() => store.getters['raids/raids']);
const bossOptions = computed(() => store.getters['bosses/bosses']);
const slotOptions = computed(() => store.getters['slots/slots']);

const closeModal = async (value) => {
    displayModal.value = false;

    delete form.id;
    Object.assign(form, {
        boss: '',
        icon: '',
        name: '',
        name_ptbr: '',
        slot: '',
        url: ''
    });

    if (value) {
        await store.dispatch('loots/get', idRaid.value);
    }
};

const add = () => {
    console.log(form);
    displayModal.value = true;
};

const edit = (data) => {
    Object.assign(form, data);
    console.log(form);

    displayModal.value = true;
};

const del = async (data) => {
    confirm.require({
        message: `Deseja realmente apagar este item: '${data.name}' / '${data.name_ptbr}'?`,
        header: 'Deletar Item',
        icon: 'pi pi-exclamation-triangle',
        accept: async () => {
            let loader = $loading.show();
            try {
                await store.dispatch('loots/delete', { idLoot: data.id, idRaid: idRaid });
                toast.success('Item apagado com sucesso!');
                loader.hide();
            } catch (error) {
                loader.hide();
                toast.error(error.toString());
                throw new Error(error);
            }
        },
        reject: () => {
            confirm.close();
        }
    });
};

const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
    boss: { value: null, matchMode: FilterMatchMode.EQUALS },
    slot: { value: null, matchMode: FilterMatchMode.EQUALS }
});

watch(selectedRaid, async (data) => {
    if (data) {
        let loader = $loading.show();
        try {
            idRaid.value = data.id;
            await store.dispatch('bosses/get', data.id);
            await store.dispatch('loots/get', data.id);
            loader.hide();
        } catch (error) {
            loader.hide();
            toast.error(error.toString());
            throw new Error(error);
        }
    }
});
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <div class="grid">
                <MenuBarComponent :home="home" :items="items">
                    <template v-slot:buttons>
                        <Button v-if="selectedRaid !== null" icon="fa fa-user-plus" class="p-button-secondary p-button-raised ml-1" @click="add" />
                        <!-- <Button icon="fa fa-file-excel" class="p-button-secondary p-button-outlined ml-1" @click="exportCSV" /> -->
                    </template>
                </MenuBarComponent>
            </div>

            <div class="grid">
                <div class="col-12 p-fluid p-field">
                    <div class="card">
                        <label for="raid">Raid</label>
                        <Dropdown id="raid" v-model="selectedRaid" placeholder="- Selecione -" :options="raidOptions" optionLabel="name" :showClear="true" />
                    </div>
                </div>
            </div>

            <div class="grid" v-if="selectedRaid !== null">
                <div class="col-12">
                    <Toolbar>
                        <template #start>
                            <div class="flex flex-wrap gap-3">
                                <div class="d-flex align-items-center">
                                    <RadioButton inputId="ptbr" v-model="lang_ptbr" :value="true" />
                                    <label for="pj" class="ml-2 my-auto">pt-BR</label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <RadioButton inputId="eng" v-model="lang_ptbr" :value="false" />
                                    <label for="pf" class="ml-2 my-auto">en-US</label>
                                </div>
                            </div>
                        </template>
                        <template #center>
                            <div class="flex flex-wrap gap-3">
                                <span class="p-input-icon-left my-auto">
                                    <i class="pi pi-search" />
                                    <InputText v-model="filters['global'].value" placeholder="Buscar" style="width: 100%" />
                                </span>
                                <Dropdown id="boss" v-model="filters['boss'].value" placeholder="- Boss -" :options="bossOptions" optionLabel="name" optionValue="name" :filter="true" :showClear="true">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Boss" style="max-width: 50px" :src="'/layout/images/boss_icons/' + slotProps.value + '.png'" />&nbsp;<span :class="slotProps.value" v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Boss" style="max-width: 50px" :src="'/layout/images/boss_icons/' + slotProps.option.name + '.png'" />&nbsp;<span :class="slotProps.option.name" v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                                <Dropdown id="slots" v-model="filters['slot'].value" placeholder="- Slot -" :options="slotOptions" optionLabel="name" optionValue="name" :showClear="true">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><span v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><span v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                            </div>
                        </template>
                    </Toolbar>
                </div>
            </div>

            <div class="grid" v-if="selectedRaid !== null">
                <div class="col-12">
                    <TabView>
                        <TabPanel>
                            <template #header>
                                <span>Itens</span>
                            </template>
                            <DataTable
                                :value="loots"
                                dataKey="id"
                                :paginator="true"
                                :rows="10"
                                class="p-datatable-gridlines p-datatable-sm"
                                paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                :rowsPerPageOptions="[10, 20, 50]"
                                responsiveLayout="scroll"
                                currentPageReportTemplate="{first} até {last} de {totalRecords}"
                                ref="dt"
                                v-model:filters="filters"
                            >
                                <template #empty>
                                    <div class="col-12 text-center">
                                        <span>Ainda não há loot</span>
                                    </div>
                                </template>
                                <Column field="name" header="Item" :sortable="true">
                                    <template #body="{ data }">
                                        <img alt="Class" style="max-width: 25px" :src="data.icon" /> <span class="loot">{{ lang_ptbr ? data.name_ptbr : data.name }}</span>
                                    </template>
                                </Column>
                                <Column field="boss" header="Boss" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-center">
                                            <img alt="Boss" style="max-height: 50px" :src="'/layout/images/boss_icons/' + data.boss + '.png'" class="mx-auto" /><br />
                                            {{ data.boss }}
                                        </div></template
                                    >
                                </Column>
                                <Column field="slot" header="Slot" :sortable="true" />
                                <Column field="url" header="Link" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <a :href="data.url" target="_blank">Link <i class="fa fa-external-link" /></a>
                                    </template>
                                </Column>
                                <Column field="" header="" headerStyle="width: 5em">
                                    <template #body="{ data }">
                                        <div class="d-inline-flex">
                                            <Button icon="fa fa-edit" class="p-button-text p-button-warning p-button-sm" title="Editar" @click="edit(data)"></Button>
                                            <Button icon="fa fa-trash" class="p-button-text p-button-danger p-button-sm" title="Apagar" @click="del(data)"></Button>
                                        </div>
                                    </template>
                                </Column>
                            </DataTable>
                        </TabPanel>
                    </TabView>
                </div>
            </div>
        </div>
        <FormModal :display="displayModal" :form="form" :raid="idRaid" @closeModal="closeModal" />
        <ConfirmDialog />
    </div>
</template>

<style scoped></style>
