<template>
    <div class="grid">
        <div class="col-12">
            <div class="card mb-0">
                <TabView>
                    <TabPanel>
                        <template #header>
                            <i class="fa fa-signature"></i> &nbsp;
                            <span>Teste 1</span>
                        </template>
                        <p>Teste 1</p>
                    </TabPanel>

                    <TabPanel>
                        <template #header>
                            <i class="fa fa-clipboard-check"></i> &nbsp;
                            <span>Teste 2</span>
                        </template>
                        <p>Teste 2</p>
                    </TabPanel>
                </TabView>
            </div>
        </div>
    </div>
</template>
