<script>
export default {
    props: ['tableLoading', 'columns', 'data', 'dataKey', 'hasActions', 'url', 'filters', 'selection', 'classStyle', 'hasExpandedRows', 'customColumns'],
    name: 'DatatableComponent',
    emits: ['rowSelect', 'selected'],

    data() {
        return {
            loading: false,
            values: {
                current_page: null,
                data: [],
                first_page_url: null,
                from: null,
                last_page: null,
                last_page_url: null,
                links: [],
                next_page_url: null,
                path: '',
                per_page: null,
                prev_page_url: null,
                to: null,
                total: null
            },
            per_page: '10',
            pageOptions: ['5', '10', '25', '50', '75', '100'],
            selected: null,
            expandedRows: []
        };
    },

    computed: {
        filterByOperator() {
            let newFilters = {};
            Object.keys(this.filters).map((key) => {
                switch (this.filters[key].operator) {
                    case 'ilike':
                        if (this.filters[key].value) newFilters[key] = 'ilike|%' + this.filters[key].value + '%';
                        break;
                    case '=':
                        if (this.filters[key].value) newFilters[key] = '=|' + this.filters[key].value;
                        break;
                    case '>':
                        if (this.filters[key].value) newFilters[key] = '>|' + this.filters[key].value;
                        break;
                    case 'between':
                        if (this.filters[key].starts && this.filters[key].ends) newFilters[key] = 'between|' + this.filters[key].starts + '|' + this.filters[key].ends;
                        break;
                    default:
                        if (this.filters[key].value) newFilters[key] = this.filters[key].value;
                        break;
                }
            });

            return newFilters;
        }
    },

    watch: {
        data: function (data) {
            this.values = data;
            this.per_page = data.per_page.toString();
        },

        selected: function (data) {
            this.$emit('selected', data);
        }
    },

    methods: {
        onRowSelect(event) {
            this.$emit('rowSelect', event);
        },

        prevPage() {
            this.values.prev_page_url ? this.onSearch(this.values.current_page - 1) : '';
        },

        exportCSV() {
            console.log('oi');
            this.$refs.dt.exportCSV();
        },

        nextPage() {
            this.values.next_page_url ? this.onSearch(this.values.current_page + 1) : '';
        },

        async onFilter() {
            let data = this.filterByOperator;

            data.page = 1;

            let loader = this.$loading.show();
            try {
                await this.$store.dispatch(this.url, data);
                loader.hide();
            } catch (error) {
                loader.hide();
                throw new Error(error);
            }
        },

        async onSearch(page) {
            let data = this.filterByOperator;

            // Object.keys(this.filters).map((f) => {
            //   if (this.filters[f]) data[f] = this.filters[f];
            // });

            data.registerByPage = this.per_page;
            data.page = page;

            let loader = this.$loading.show();
            try {
                await this.$store.dispatch(this.url, data);
                loader.hide();
            } catch (error) {
                loader.hide();
                throw new Error(error);
            }
        }
    }
};
</script>

<template>
    <div class="grid">
        <!-- TABELA -->
        <div class="col-12">
            <DataTable
                :value="values.data"
                :dataKey="dataKey"
                :loading="tableLoading"
                :selectionMode="selection"
                v-model:selection="selected"
                @rowSelect="onRowSelect"
                class="p-datatable-gridlines p-datatable-sm"
                :class="classStyle"
                responsiveLayout="scroll"
                v-model:expandedRows="expandedRows"
                ref="dt"
            >
                <!-- <template #header>
                    <slot name="header" :onFilter="onFilter"></slot>
                </template> -->
                <template #empty>
                    <div class="col-12 text-center">
                        <slot name="empty"></slot>
                    </div>
                </template>
                <Column v-if="selection" :selectionMode="selection" headerStyle="width: 3em"></Column>

                <slot v-if="customColumns" name="main"></slot>
                <Column v-else v-for="col of columns" :field="col.field" :header="col.header" :key="col.field" :headerStyle="col.isCod ? 'width: 2rem' : ''">
                    <template #body="{ data, field }">
                        <div :class="col.class">
                            <span v-if="col.isHtml" v-html="data[field]"> </span>
                            <span v-else>
                                {{ data[field] || '-' }}
                            </span>
                        </div>
                    </template>
                </Column>

                <Column v-if="hasActions" field="" header="Ações" headerStyle="width: 2rem">
                    <template #body="slotProps">
                        <slot name="actions" :row="slotProps"></slot>
                    </template>
                </Column>

                <Column v-if="hasExpandedRows" :expander="true" header="Info." headerStyle="width: 3rem" />
                <template v-if="hasExpandedRows" #expansion="slotProps">
                    <slot name="expander" :data="slotProps.data"></slot>
                </template>
            </DataTable>
        </div>
    </div>
    <!-- PAGINAÇÃO -->
    <div class="grid">
        <div class="col-12 py-0">
            <div class="d-flex justify-content-between border bg-gray-100 p-2">
                <Button class="p-button-sm p-button-outlined" icon="fa fa-refresh" @click="onSearch(this.values.current_page)" title="Atualizar tabela"></Button>
                <div class="d-flex justify-content-end">
                    <span class="my-auto mx-2 font-bold">{{ this.values.from || 0 }} até {{ this.values.to || 0 }} de {{ this.values.total || 0 }}</span>
                    <div v-for="(link, index) in values.links" :key="index">
                        <Button class="p-button-sm mx-1" v-if="index == 0" :disabled="!link.url" icon="fa fa-arrow-alt-circle-left" label="Anterior" @click="prevPage"></Button>
                        <Button class="p-button-sm mx-1" v-else-if="index == Object.keys(values.links).length - 1" :disabled="!link.url" icon="fa fa-arrow-alt-circle-right" iconPos="right" label="Próxima" @click="nextPage"></Button>
                        <Button v-else-if="link.active" :label="link.label" class="p-button-sm mx-1"></Button>
                        <Button v-else class="d-none d-xl-block p-button-outlined p-button-sm mx-1" :label="link.label" :disabled="link.label == '...'" @click="onSearch(link.label)"></Button>
                    </div>
                    <Dropdown class="p-inputtext-sm mx-1" v-model="this.per_page" :options="pageOptions" @change="onSearch(1)" />
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
</style>
