<script>
export default {
    name: 'DialogComponent',
    props: ['title', 'display'],
    emits: ['closeModal'],
    watch: {
        display: function (value) {
            this.displayModal = value;
        }
    },
    data() {
        return {
            displayModal: false,
            position: 'center'
        };
    },
    methods: {
        openModal() {
            this.displayModal = true;
        },
        closeModal() {
            this.displayModal = false;
            this.$emit('closeModal', false);
        }
    }
};
</script>
<template>
    <Dialog :header="title" v-model:visible="displayModal" :breakpoints="{ '960px': '75vw', '640px': '90vw' }" :style="{ width: '50vw' }" :modal="true" @update:visible="() => closeModal()">
        <div class="mt-1">
            <slot name="main"></slot>
        </div>

        <template #footer>
            <slot name="footer"></slot>
        </template>
    </Dialog>
</template>
<style scoped></style>
