<script setup>
const props = defineProps(['home', 'items']);
</script>

<template>
    <div class="col-12">
        <Toolbar>
            <template #start>
                <Breadcrumb :home="props.home" :model="props.items" />
            </template>

            <template #end>
                <slot name="buttons" />
            </template>
        </Toolbar>
    </div>
</template>

<style scoped></style>
