/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import '@/assets/layout/styles/layout/layout.scss';

/* PrimeVue */
@import 'primevue/resources/primevue.min.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

/* Demos */
@import '@/assets/demo/styles/flags/flags.css';
@import '@/assets/demo/styles/badges.scss';

.v-toast {
    z-index: 99999 !important;
}

.p-dialog-mask {
    z-index: 1000 !important;
}

.p-dropdown-panel {
    z-index: 1001 !important;
}

label {
    font-weight: bold !important;
}

.Warlock {
    color: #8788ee !important;
    font-weight: bold !important;
}

.Paladin {
    color: #f48cba !important;
    font-weight: bold !important;
}

.Mage {
    color: #3fc7eb !important;
    font-weight: bold !important;
}

.Monk {
    color: #00ff98 !important;
    font-weight: bold !important;
}

.Evoker {
    color: #33937f !important;
    font-weight: bold !important;
}

.Druid {
    color: #FF7C0A !important;
    font-weight: bold !important;
}

.Shaman {
    color: #0070DD !important;
    font-weight: bold !important;
}

.Priest {
    color: #FFFFFF !important;
    font-weight: bold !important;
}

.Rogue {
    color: #FFF468 !important;
    font-weight: bold !important;
}

.DH {
    color: #A330C9 !important;
    font-weight: bold !important;
}

.DK {
    color: #C41E3A !important;
    font-weight: bold !important;
}

.Warrior {
    color: #C69B6D !important;
    font-weight: bold !important;
}

.Hunter {
    color: #AAD372 !important;
    font-weight: bold !important;
}

.horde {
    color: red;
}

.alliance {
    color: blue;
}

.loot, .gp{
    color: #a335ee;
}

.ep{
    color: green;
}

.pr{
    color: orange;
    font-weight: bold;
}

