<script setup>
import DialogComponent from '@/components/DialogComponent.vue';
import { Timestamp } from 'firebase/firestore';
import { ref, inject, computed } from 'vue';
import { useStore } from 'vuex';
import { useToast } from 'vue-toastification';

import { useConfirm } from 'primevue/useconfirm';
const confirm = useConfirm();

const store = useStore();
const toast = useToast();

const $loading = inject('$loading');
const $toast = inject('$toast');

const props = defineProps(['display', 'log']);
const emit = defineEmits(['closeModal']);

const log = computed(() => props.log);

const displayModal = computed(() => {
    return props.display;
});

const user = computed(() => store.getters['auth/user']);

const selectedPlayers = ref([]);

const closeModal = async (value) => {
    displayModal.value = false;
    emit('closeModal', value);
};

const save = async () => {
    if (selectedPlayers.value.length < 1) {
        $toast.error('Selecione ao menos um membro!');
        throw new Error('Selecione ao menos um membro!');
    }

    let namePlayers = '';
    let data = [];

    selectedPlayers.value.map(async (player, i) => {
        namePlayers += player.name + ', ';
        let member = await store.dispatch('roster/find', player.id);

        data[i] = {
            class: member.class,
            email: member.email,
            ep: member.ep,
            gp: member.gp,
            name: member.name,
            role: member.role,
            server: member.server,
            id: member.id
        };
    });

    confirm.require({
        message: `Deseja realmente ${log.value.type == 'gain' ? 'remover' : 'adicionar'} ${log.value.points} ${log.value.point_type} do(s) jogador(es): '${namePlayers.substring(0, namePlayers.length - 2)}'?`,
        header: 'Desfazer Log',
        icon: 'pi pi-exclamation-triangle',
        accept: async () => {
            let loader = $loading.show();
            try {
                data.map(async (player) => {
                    log.value.type == 'gain' ? (player[log.value.point_type] = player[log.value.point_type] - log.value.points) : (player[log.value.point_type] = player[log.value.point_type] + log.value.points);
                    await store.dispatch('roster/update', player);
                });

                let logData = {
                    reason: log.value.reason,
                    type: log.value.type == 'gain' ? 'loss' : 'gain',
                    point_type: log.value.point_type,
                    points: log.value.points,
                    data: data,
                    variation: log.value.variation,
                    date: Timestamp.fromDate(new Date()),
                    responsible_email: user.value.email
                };

                await store.dispatch('logs/create', logData);
                toast.success('Log desfeito e pontos salvos com sucesso');
                closeModal(true);
                selectedPlayers.value = [];
                confirm.close();
                loader.hide();
            } catch (error) {
                confirm.close();
                loader.hide();
                toast.error(error.toString());
                throw new Error(error);
            }
        },
        reject: () => {
            confirm.close();
        }
    });
};
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <DialogComponent title="Confirmar vencedor" :display="displayModal" @closeModal="closeModal(false)">
                <template v-slot:main>
                    <div class="grid p-fluid py-3">
                        <div class="col-12">
                            <DataTable
                                :value="log.data"
                                dataKey="id"
                                :paginator="true"
                                :rows="10"
                                class="p-datatable-gridlines p-datatable-sm"
                                paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                :rowsPerPageOptions="[10, 20, 50]"
                                responsiveLayout="scroll"
                                currentPageReportTemplate="{first} até {last} de {totalRecords}"
                                ref="dt"
                                v-model:selection="selectedPlayers"
                            >
                                <template #empty>
                                    <div class="col-12 text-center">
                                        <span>Ainda não há dados ainda</span>
                                    </div>
                                </template>
                                <Column selectionMode="multiple" headerStyle="width: 3rem"></Column>
                                <Column field="name" header="Nickname" :sortable="true">
                                    <template #body="{ data }">
                                        <img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + data.class + '.png'" /> <span :class="data.class">{{ data.name }}</span>
                                    </template>
                                </Column>
                                <Column field="ep" header="EP" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right ep">{{ data.ep }}</div>
                                    </template>
                                </Column>
                                <Column field="gp" header="GP" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right gp">{{ data.gp }}</div>
                                    </template>
                                </Column>
                            </DataTable>
                        </div>
                    </div>
                </template>
                <template v-slot:footer>
                    <div class="flex justify-content-end">
                        <Button icon="fa fa-check" class="p-button-raised p-button-success" label="Confirmar" @click="save()" />
                    </div>
                </template>
            </DialogComponent>
        </div>
        <ConfirmDialog />
    </div>
</template>
<style scoped></style>
