<script setup>
import MenuBarComponent from '@/components/MenuBarComponent.vue';
import ConfirmUndoLog from './ConfirmUndoLog.vue';
import { FilterMatchMode } from 'primevue/api';
import { computed, onMounted, reactive, ref } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const home = reactive({ icon: 'pi pi-home', to: '/' });
const items = ref([{ label: 'Logs', to: '/logs' }]);
const lootsByPatch = computed(() => store.getters['loots/lootsByPatch']);
const currentRaid = computed(() => store.getters['raids/currentRaid']);

const displayModal = ref(false);

const selectedLog = reactive({
    data: [],
    date: '',
    point_type: '',
    points: '',
    reason: '',
    type: ''
});

const lootByUrl = computed(() => {
    let data = [];
    lootsByPatch.value.forEach((loot) => {
        data[loot.url] = loot;
    });

    return data;
});

onMounted(async () => {
    await store.dispatch('logs/get');
    await store.dispatch('loots/getByPatch', currentRaid.value);
});

const logs = computed(() => store.getters['logs/logs']);
const typeOptions = [
    { id: 'gain', name: 'Ganho' },
    { id: 'loss', name: 'Perda' }
];
const pointTypeOptions = [{ name: 'gp' }, { name: 'ep' }];

const closeModal = async (value) => {
    displayModal.value = false;
    Object.assign(selectedLog, {
        data: [],
        date: '',
        point_type: '',
        points: '',
        reason: '',
        type: '',
        variation: ''
    });

    if (value) {
        await store.dispatch('logs/get');
    }
};

const undo = (log) => {
    Object.assign(selectedLog, log);
    console.log(selectedLog);
    displayModal.value = true;
};

const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
    point_type: { value: null, matchMode: FilterMatchMode.EQUALS },
    type: { value: null, matchMode: FilterMatchMode.EQUALS }
});
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <div class="grid">
                <MenuBarComponent :home="home" :items="items">
                    <template v-slot:buttons>
                        <!-- <Button v-if="selectedRaid !== null" icon="fa fa-user-plus" class="p-button-secondary p-button-raised ml-1" @click="add" /> -->
                        <!-- <Button icon="fa fa-file-excel" class="p-button-secondary p-button-outlined ml-1" @click="exportCSV" /> -->
                    </template>
                </MenuBarComponent>
            </div>

            <div class="grid">
                <div class="col-12">
                    <Toolbar>
                        <template #center>
                            <div class="flex flex-wrap gap-3">
                                <span class="p-input-icon-left my-auto">
                                    <i class="pi pi-search" />
                                    <InputText v-model="filters['global'].value" placeholder="Buscar" style="width: 100%" />
                                </span>
                                <Dropdown id="point_type" v-model="filters['point_type'].value" placeholder="- Tipo de Pontos -" :options="pointTypeOptions" optionLabel="name" optionValue="name" :filter="true" :showClear="true" />
                                <Dropdown id="type" v-model="filters['type'].value" placeholder="- Ganho / Perda -" :options="typeOptions" optionLabel="name" optionValue="id" :showClear="true" />
                            </div>
                        </template>
                    </Toolbar>
                </div>
            </div>

            <div class="grid">
                <div class="col-12">
                    <TabView>
                        <TabPanel>
                            <template #header>
                                <span>Logs</span>
                            </template>
                            <DataTable
                                :value="logs"
                                dataKey="id"
                                sortField="date"
                                :sortOrder="-1"
                                :paginator="true"
                                :rows="10"
                                class="p-datatable-gridlines p-datatable-sm p-datatable-striped"
                                paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                :rowsPerPageOptions="[10, 20, 50]"
                                responsiveLayout="scroll"
                                currentPageReportTemplate="{first} até {last} de {totalRecords}"
                                ref="dt"
                                v-model:filters="filters"
                            >
                                <template #empty>
                                    <div class="col-12 text-center">
                                        <span>Ainda não há log</span>
                                    </div>
                                </template>
                                <Column field="date" header="Data" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <span class="text-center">
                                            {{
                                                new Date(data.date.seconds * 1000).toLocaleString('pt-BR', {
                                                    timeZone: 'America/Fortaleza'
                                                })
                                            }}
                                        </span>
                                    </template>
                                </Column>
                                <Column field="name" header="Jogadores" :sortable="true">
                                    <template #body="{ data }">
                                        <ul>
                                            <li v-for="player in data.data" :key="player.id">
                                                <img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + player.class + '.png'" /> <span :class="player.class">{{ player.name }}</span>
                                            </li>
                                        </ul>
                                    </template>
                                </Column>
                                <Column field="reason" header="Motivo" :sortable="true">
                                    <template #body="{ data }">
                                        <div v-if="data.point_type == 'gp'">
                                            <a :href="data.reason" target="_blank" v-tooltip="'Boss: ' + lootByUrl[data.reason].boss + '\nSlot: ' + lootByUrl[data.reason].slot">
                                                <img :src="lootByUrl[data.reason].icon" style="max-width: 25px" /> <b id="drop" class="loot ml-2"> {{ lootByUrl[data.reason].name }} / {{ lootByUrl[data.reason].name_ptbr }}</b>
                                            </a>
                                        </div>
                                        <div v-else>{{ data.reason }}</div>
                                    </template>
                                </Column>
                                <Column field="type" header="Ganho/Perda" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-center">
                                            <Tag v-if="data.type == 'gain'" value="Ganho" severity="success" />
                                            <Tag v-else value="Perda" severity="danger" />
                                        </div>
                                    </template>
                                </Column>
                                <Column field="variation" header="Variação" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-center">{{ data.variation }}</div>
                                    </template>
                                </Column>
                                <Column field="points" header="Pontos" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-center font-bold" :class="data.point_type">{{ data.points }}&nbsp;{{ data.point_type }}</div>
                                    </template>
                                </Column>

                                <Column field="" header="" headerStyle="width: 5em">
                                    <template #body="{ data }">
                                        <div class="d-inline-flex">
                                            <Button icon="fa fa-undo" class="p-button-text p-button-warning p-button-sm" title="Desfazer operação" @click="undo(data)"></Button>
                                        </div>
                                    </template>
                                </Column>
                            </DataTable>
                        </TabPanel>
                    </TabView>
                </div>
            </div>
        </div>
        <ConfirmUndoLog :display="displayModal" :log="selectedLog" @closeModal="closeModal" />
        <ConfirmDialog />
    </div>
</template>

<style scoped></style>
