<script setup>
import MenuBarComponent from '@/components/MenuBarComponent.vue';

import { FilterMatchMode } from 'primevue/api';
import { computed, onMounted, reactive, ref, inject } from 'vue';
import { useStore } from 'vuex';
import { useToast } from 'vue-toastification';
import { Timestamp } from 'firebase/firestore';
import { useConfirm } from 'primevue/useconfirm';

const toast = useToast();
const store = useStore();

const home = reactive({ icon: 'pi pi-home', to: '/' });
const items = ref([{ label: 'Adicionar EP', to: '/addep' }]);
const $loading = inject('$loading');

const confirm = useConfirm();

onMounted(async () => {
    await store.dispatch('roster/getRoster');
    await store.dispatch('ep_types/get');
});

const selectedEpType = ref();
const selectedPlayers = ref([]);

const roster = computed(() => store.getters['roster/roster']);
const classOptions = computed(() => store.getters['classes/classes']);
const roleOptions = computed(() => store.getters['roles/roles']);
const epTypeOptions = computed(() => store.getters['ep_types/ep_types']);
const user = computed(() => store.getters['auth/user']);

const save = async () => {
    if (!selectedEpType.value) {
        toast.error('Selecione um motivo para adicionar Pontos de Esforço!');
        throw new Error('Selecione um motivo para adicionar Pontos de Esforço!');
    }

    if (selectedPlayers.value.length < 1) {
        toast.error('Selecione jogadores para adicionar Pontos de Esforço!');
        throw new Error('Selecione jogadores para adicionar Pontos de Esforço!');
    }

    const data = [];
    let namePlayers = '';

    selectedPlayers.value.map((player, i) => {
        namePlayers += player.name + ', ';
        data[i] = {
            class: player.class,
            email: player.email,
            ep: player.ep,
            gp: player.gp,
            name: player.name,
            role: player.role,
            server: player.server,
            id: player.id
        };
    });

    let isDecay = selectedEpType.value.name == 'Decay' ? true : false;

    confirm.require({
        message: `Deseja realmente ${isDecay ? 'remover 10% de EP dos' : 'adicionar' + selectedEpType.value.ep + 'EP aos'} jogadores: '${namePlayers.substring(0, namePlayers.length - 2)}'?`,
        header: isDecay ? 'Decay Semanal de 10%' : 'ADD Pontos de Esforço',
        icon: 'pi pi-exclamation-triangle',
        accept: async () => {
            let loader = $loading.show();
            try {
                if (isDecay) {
                    selectedPlayers.value.map(async (player) => {
                        player.ep -= player.ep / 10;
                        await store.dispatch('roster/update', player);
                    });
                } else {
                    selectedPlayers.value.map(async (player) => {
                        player.ep += selectedEpType.value.ep;
                        await store.dispatch('roster/update', player);
                    });
                }

                let logData = {
                    reason: selectedEpType.value.name,
                    type: isDecay ? 'loss' : 'gain',
                    point_type: 'ep',
                    points: isDecay ? '' : selectedEpType.value.ep,
                    data: data,
                    variation: isDecay ? '10%' : '',
                    date: Timestamp.fromDate(new Date()),
                    responsible_email: user.value.email
                };

                await store.dispatch('logs/create', logData);
                toast.success('Pontos salvos com sucesso');
                selectedPlayers.value = [];
                selectedEpType.value = null;
                loader.hide();
            } catch (error) {
                loader.hide();
                toast.error(error.toString());
                throw new Error(error);
            }
        },
        reject: () => {
            confirm.close();
        }
    });
};

const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
    class: { value: null, matchMode: FilterMatchMode.EQUALS },
    role: { value: null, matchMode: FilterMatchMode.EQUALS }
});
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <div class="grid">
                <MenuBarComponent :home="home" :items="items">
                    <!-- <template v-slot:buttons> -->
                    <!-- <Button icon="fa fa-user-plus" class="p-button-secondary p-button-raised ml-1" @click="add" /> -->
                    <!-- <Button icon="fa fa-file-excel" class="p-button-secondary p-button-outlined ml-1" @click="exportCSV" /> -->
                    <!-- </template> -->
                </MenuBarComponent>
            </div>

            <div class="grid">
                <div class="col-12 p-fluid p-field">
                    <div class="card">
                        <label for="epType">Motivo</label>
                        <Dropdown id="epType" v-model="selectedEpType" placeholder="- Selecione -" :options="epTypeOptions" optionLabel="name" :showClear="true" />
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="col-12">
                    <Toolbar>
                        <template #start>
                            <div class="flex flex-wrap gap-3">
                                <div class="d-flex align-items-center">
                                    <span class="p-input-icon-left my-auto">
                                        <i class="pi pi-search" />
                                        <InputText v-model="filters['global'].value" placeholder="Buscar" style="width: 100%" />
                                    </span>
                                </div>
                            </div>
                        </template>
                        <template #center>
                            <div class="flex flex-wrap gap-3">
                                <Dropdown id="class" v-model="filters['class'].value" placeholder="- Classe -" :options="classOptions" optionLabel="name" optionValue="name" :showClear="true">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + slotProps.value + '.png'" />&nbsp;<span :class="slotProps.value" v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + slotProps.option.name + '.png'" />&nbsp;<span :class="slotProps.option.name" v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                                <Dropdown id="roles" v-model="filters['role'].value" placeholder="- Função -" :options="roleOptions" optionLabel="name" optionValue="name" :showClear="true">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Role" :src="'/layout/images/role_icons/' + slotProps.value + '.webp'" class="" />&nbsp;<span v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Role" :src="'/layout/images/role_icons/' + slotProps.option.name + '.webp'" class="" />&nbsp;<span v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                            </div>
                        </template>
                    </Toolbar>
                </div>
            </div>

            <div class="grid">
                <div class="col-12">
                    <TabView>
                        <TabPanel>
                            <template #header>
                                <span>Adicionar EP</span>
                            </template>
                            <div v-if="selectedPlayers && selectedPlayers.length > 0" class="col-12 flex justify-content-end">
                                <small class="font-bold">{{ selectedPlayers.length }} Jogadores Selecionados</small>
                            </div>
                            <DataTable
                                :value="roster"
                                dataKey="id"
                                :paginator="true"
                                :rows="10"
                                sortField="pr"
                                :sortOrder="-1"
                                class="p-datatable-gridlines p-datatable-sm"
                                paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                :rowsPerPageOptions="[10, 20, 50]"
                                responsiveLayout="scroll"
                                currentPageReportTemplate="{first} até {last} de {totalRecords}"
                                ref="dt"
                                v-model:filters="filters"
                                v-model:selection="selectedPlayers"
                            >
                                <template #empty>
                                    <div class="col-12 text-center">
                                        <span>Ainda não há dados ainda</span>
                                    </div>
                                </template>
                                <Column v-if="selectedEpType" selectionMode="multiple" headerStyle="width: 3rem"></Column>
                                <Column field="name" header="Nickname" :sortable="true">
                                    <template #body="{ data }">
                                        <img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + data.class + '.png'" /> <span :class="data.class">{{ data.name }}</span>
                                    </template>
                                </Column>
                                <!-- <Column field="email" header="E-mail" :sortable="true" /> -->
                                <Column field="role" header="Função" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }"> <img alt="Role" :src="'/layout/images/role_icons/' + data.role + '.webp'" class="" /> {{ data.role }} </template>
                                </Column>
                                <Column field="ep" header="EP" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right ep">{{ data.ep.toFixed(2) }}</div>
                                    </template>
                                </Column>
                                <Column field="gp" header="GP" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right gp">{{ data.gp }}</div>
                                    </template>
                                </Column>
                                <Column field="pr" header="PR" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right pr">{{ data.pr.toFixed(2) }}</div>
                                    </template>
                                </Column>
                                <Column field="" header="Raider.io" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <a :href="'https://raider.io/characters/us/' + data.server + '/' + data.name" target="_blank"><img alt="Class" style="max-width: 70px" :src="'/layout/images/raiderio.svg'" /></a>
                                    </template>
                                </Column>
                            </DataTable>
                            <div class="grid mt-2">
                                <div class="col-12 d-flex justify-content-end">
                                    <!-- <Button type="button" class="p-button-raised p-button-secondary" label="Fechar" @click="fecharModal(false)" icon="pi pi-times" /> -->
                                    <Button class="p-button-raised p-button-primary" label="Confirmar" icon="pi pi-check" @click="save" />
                                </div>
                            </div>
                        </TabPanel>
                    </TabView>
                </div>
            </div>
        </div>
        <ConfirmDialog />
    </div>
</template>

<style scoped></style>
