<script setup>
import MenuBarComponent from '@/components/MenuBarComponent.vue';
import ConfirmAddGp from './ConfirmAddGp.vue';

import { FilterMatchMode } from 'primevue/api';
import { computed, onMounted, reactive, ref, inject, watch } from 'vue';
import { useStore } from 'vuex';
import { useToast } from 'vue-toastification';
// import { useConfirm } from 'primevue/useconfirm';
// import { Timestamp } from 'firebase/firestore';

const toast = useToast();
const store = useStore();

const home = reactive({ icon: 'pi pi-home', to: '/' });
const items = ref([{ label: 'Adicionar GP', to: '/addgp' }]);
const $loading = inject('$loading');

// const confirm = useConfirm();

onMounted(async () => {
    await store.dispatch('roster/getRoster');
    await store.dispatch('raids/get');
    await store.dispatch('slots/get');
});

const selectedPlayers = ref([]);
const selectedRaid = ref(null);
const filterBoss = ref(null);
const selectedDrop = ref(null);
const filterSlot = ref(null);
const confirmData = reactive({
    gp: '',
    drop: null,
    winners: null
});
const idRaid = ref();
const displayModal = ref(false);

const lang_ptbr = ref(true);

const roster = computed(() => store.getters['roster/roster']);
const classOptions = computed(() => store.getters['classes/classes']);
const roleOptions = computed(() => store.getters['roles/roles']);
const loots = computed(() => store.getters['loots/loots']);
const raidOptions = computed(() => store.getters['raids/raids']);
const bossOptions = computed(() => store.getters['bosses/bosses']);
const slots = computed(() => store.getters['slots/slots']);

const slotSelected = computed(() => {
    if (selectedDrop.value !== null) {
        return slots.value.find((slot) => slot.name == selectedDrop.value.slot);
    } else {
        return null;
    }
});

const dropOptions = computed(() => {
    if (filterBoss.value == null && filterSlot.value == null) {
        return loots.value;
    } else {
        let drops = [];
        if (filterBoss.value && filterSlot.value) {
            loots.value.map((loot) => {
                if (loot.boss == filterBoss.value && loot.slot == filterSlot.value) {
                    drops.push(loot);
                }
            });
        } else if (!filterBoss.value && filterSlot.value) {
            loots.value.map((loot) => {
                if (loot.slot == filterSlot.value) {
                    drops.push(loot);
                }
            });
        } else if (filterBoss.value && !filterSlot.value) {
            loots.value.map((loot) => {
                if (loot.boss == filterBoss.value) {
                    drops.push(loot);
                }
            });
        }
        return drops;
    }
});

const save = async () => {
    if (selectedPlayers.value.length < 1) {
        toast.error('Selecione jogadores para adicionar Pontos de Gear!');
        throw new Error('Selecione jogadores para adicionar Pontos de Gear!');
    }

    if (!selectedDrop.value) {
        toast.error('Selecione o item dropado para adicionar Pontos de Gear!');
        throw new Error('Selecione jogadores para adicionar Pontos de Gear!');
    }

    let loader = $loading.show();
    try {
        const maxPR = selectedPlayers.value.reduce((prev, current) => {
            return prev.pr > current.pr ? prev : current;
        });
        const winners = selectedPlayers.value.filter((player) => {
            return player.pr == maxPR.pr;
        });

        Object.assign(confirmData, {
            gp: slotSelected.value.gp,
            drop: selectedDrop.value,
            winners: winners
        });
        displayModal.value = true;
        loader.hide();
    } catch (error) {
        loader.hide();
        toast.error(error.toString());
        throw new Error(error);
    }
};

const closeModal = async (value) => {
    displayModal.value = false;

    Object.assign(confirmData, {
        gp: '',
        drop: null,
        winners: null
    });

    if (value) {
        selectedPlayers.value = [];
        selectedDrop.value = null;
    }
};

const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
    class: { value: null, matchMode: FilterMatchMode.EQUALS },
    role: { value: null, matchMode: FilterMatchMode.EQUALS }
});

const clearDrop = () => {
    selectedDrop.value = null;
};

watch(selectedRaid, async (data) => {
    if (data) {
        let loader = $loading.show();
        try {
            idRaid.value = data.id;
            await store.dispatch('bosses/get', data.id);
            await store.dispatch('loots/get', data.id);
            loader.hide();
        } catch (error) {
            loader.hide();
            toast.error(error.toString());
            throw new Error(error);
        }
    }
});
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <div class="grid">
                <MenuBarComponent :home="home" :items="items">
                    <!-- <template v-slot:buttons> -->
                    <!-- <Button icon="fa fa-user-plus" class="p-button-secondary p-button-raised ml-1" @click="add" /> -->
                    <!-- <Button icon="fa fa-file-excel" class="p-button-secondary p-button-outlined ml-1" @click="exportCSV" /> -->
                    <!-- </template> -->
                </MenuBarComponent>
            </div>

            <div class="grid">
                <div class="col-12 p-fluid p-field">
                    <div class="card">
                        <div class="grid">
                            <div class="col-12 p-fluid p-field">
                                <label for="raid">Raid</label>
                                <Dropdown id="raid" v-model="selectedRaid" placeholder="- Selecione -" :options="raidOptions" optionLabel="name" :showClear="true" />
                            </div>
                            <div class="col-2 xl:col-2 p-fluid p-field" v-if="selectedRaid !== null">
                                <label for="boss">Idioma do Item</label>

                                <div class="d-flex align-items-center">
                                    <RadioButton inputId="ptbr" v-model="lang_ptbr" :value="true" />
                                    <label for="pj" class="ml-2 my-auto">pt-BR</label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <RadioButton inputId="eng" v-model="lang_ptbr" :value="false" />
                                    <label for="pf" class="ml-2 my-auto">en-US</label>
                                </div>
                            </div>
                            <div v-if="selectedRaid !== null" class="col-5 xl:col-5 p-fluid p-field">
                                <label for="boss">Boss</label>
                                <Dropdown @change="clearDrop" id="boss" v-model="filterBoss" placeholder="- Selecione -" :options="bossOptions" optionLabel="name" optionValue="name" :showClear="true" :filter="true">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Boss" style="max-width: 50px" :src="'/layout/images/boss_icons/' + slotProps.value + '.png'" />&nbsp;<span :class="slotProps.value" v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Boss" style="max-width: 50px" :src="'/layout/images/boss_icons/' + slotProps.option.name + '.png'" />&nbsp;<span :class="slotProps.option.name" v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                            </div>
                            <div v-if="selectedRaid !== null" class="col-5 xl:col-5 p-fluid p-field">
                                <label for="slot">Slot</label>
                                <Dropdown @change="clearDrop" id="slot" v-model="filterSlot" placeholder="- Selecione -" :options="slots" optionLabel="name" optionValue="name" :showClear="true" :filter="true" />
                            </div>
                            <div v-if="selectedRaid !== null" class="col-12 p-fluid p-field">
                                <label for="drop">Drop</label>
                                <Dropdown id="drop" v-model="selectedDrop" placeholder="- Selecione -" :options="dropOptions" optionLabel="name" :showClear="true" :filter="true">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value">
                                            <img alt="Drops" style="max-width: 25px" :src="slotProps.value.icon" />&nbsp;<span class="loot ml-1" v-html="lang_ptbr ? slotProps.value.name_ptbr : slotProps.value.name"></span>
                                        </div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Drops" style="max-width: 25px" :src="slotProps.option.icon" />&nbsp;<span class="loot ml-1" v-html="lang_ptbr ? slotProps.option.name_ptbr : slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                                <div class="mt-1 grid col-12 d-inline-flex justify-content-between" v-if="selectedDrop !== null">
                                    <div>
                                        <label for="">Boss:</label><br />
                                        <div class="d-flex">
                                            <span class="my-auto gp ml-1">{{ selectedDrop.boss }}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <label for="">Slot:</label><br />
                                        <span class="my-auto ml-1 gp">{{ slotSelected.name }}</span>
                                    </div>
                                    <div>
                                        <label for="">GP:</label><br />
                                        <span class="my-auto ml-1 gp">{{ slotSelected.gp }}</span>
                                    </div>
                                    <div>
                                        <label for="">Wowhead:</label><br />
                                        <a v-bind:href="selectedDrop.url" target="_blank">Link <i class="fa fa-external-link" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid" v-if="selectedRaid !== null">
                <div class="col-12">
                    <Toolbar>
                        <template #start>
                            <div class="flex flex-wrap gap-3">
                                <div class="d-flex align-items-center">
                                    <span class="p-input-icon-left my-auto">
                                        <i class="pi pi-search" />
                                        <InputText v-model="filters['global'].value" placeholder="Buscar" style="width: 100%" />
                                    </span>
                                </div>
                            </div>
                        </template>
                        <template #center>
                            <div class="flex flex-wrap gap-3">
                                <Dropdown id="class" v-model="filters['class'].value" placeholder="- Classe -" :options="classOptions" optionLabel="name" optionValue="name" :showClear="true">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + slotProps.value + '.png'" />&nbsp;<span :class="slotProps.value" v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + slotProps.option.name + '.png'" />&nbsp;<span :class="slotProps.option.name" v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                                <Dropdown id="roles" v-model="filters['role'].value" placeholder="- Função -" :options="roleOptions" optionLabel="name" optionValue="name" :showClear="true">
                                    <template #value="slotProps">
                                        <div v-if="slotProps.value"><img alt="Role" :src="'/layout/images/role_icons/' + slotProps.value + '.webp'" class="" />&nbsp;<span v-html="slotProps.value"></span></div>
                                        <span v-else>{{ slotProps.placeholder }}</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div><img alt="Role" :src="'/layout/images/role_icons/' + slotProps.option.name + '.webp'" class="" />&nbsp;<span v-html="slotProps.option.name"></span></div>
                                    </template>
                                </Dropdown>
                            </div>
                        </template>
                    </Toolbar>
                </div>
            </div>

            <div class="grid" v-if="selectedRaid !== null">
                <div class="col-12">
                    <TabView>
                        <TabPanel>
                            <template #header>
                                <span>Selecione jogadores pra a disputa</span>
                            </template>

                            <DataTable
                                :value="roster"
                                dataKey="id"
                                :paginator="true"
                                :rows="10"
                                class="p-datatable-gridlines p-datatable-sm"
                                paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                :rowsPerPageOptions="[10, 20, 50]"
                                responsiveLayout="scroll"
                                currentPageReportTemplate="{first} até {last} de {totalRecords}"
                                ref="dt"
                                v-model:filters="filters"
                                v-model:selection="selectedPlayers"
                                sortField="pr"
                                :sortOrder="-1"
                            >
                                <template #empty>
                                    <div class="col-12 text-center">
                                        <span>Ainda não há dados ainda</span>
                                    </div>
                                </template>
                                <Column v-if="selectedRaid !== null && selectedDrop !== null" selectionMode="multiple" headerStyle="width: 3rem"></Column>
                                <Column field="name" header="Nickname" :sortable="true">
                                    <template #body="{ data }">
                                        <img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + data.class + '.png'" /> <span :class="data.class">{{ data.name }}</span>
                                    </template>
                                </Column>
                                <Column field="role" header="Função" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }"> <img alt="Role" :src="'/layout/images/role_icons/' + data.role + '.webp'" class="" /> {{ data.role }} </template>
                                </Column>
                                <Column field="ep" header="EP" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right ep">{{ data.ep.toFixed(2) }}</div>
                                    </template>
                                </Column>
                                <Column field="gp" header="GP" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right gp">{{ data.gp }}</div>
                                    </template>
                                </Column>
                                <Column field="pr" header="PR" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right pr">{{ data.pr.toFixed(2) }}</div>
                                    </template>
                                </Column>
                                <Column field="" header="Raider.io" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <a :href="'https://raider.io/characters/us/' + data.server + '/' + data.name" target="_blank"><img alt="Class" style="max-width: 70px" :src="'/layout/images/raiderio.svg'" /></a>
                                    </template>
                                </Column>
                            </DataTable>
                            <div class="grid mt-2">
                                <div class="col-12 d-flex justify-content-end">
                                    <!-- <Button type="button" class="p-button-raised p-button-secondary" label="Fechar" @click="fecharModal(false)" icon="pi pi-times" /> -->
                                    <Button class="p-button-raised p-button-primary" label="Confirmar" icon="pi pi-check" @click="save" />
                                </div>
                            </div>
                        </TabPanel>
                    </TabView>
                </div>
            </div>
        </div>
        <ConfirmDialog />
        <ConfirmAddGp :display="displayModal" :data="confirmData" @closeModal="closeModal" />
    </div>
</template>

<style scoped></style>
