<script setup>
import DialogComponent from '@/components/DialogComponent.vue';
import { Timestamp } from 'firebase/firestore';
import { ref, inject, computed } from 'vue';
import { useStore } from 'vuex';
import { useToast } from 'vue-toastification';

import { useConfirm } from 'primevue/useconfirm';
const confirm = useConfirm();

const store = useStore();
const toast = useToast();

const $loading = inject('$loading');
const $toast = inject('$toast');

const props = defineProps(['display', 'data']);
const emit = defineEmits(['closeModal']);

const data = computed(() => props.data);
const user = computed(() => store.getters['auth/user']);

const displayModal = computed(() => {
    return props.display;
});

const selectedWinner = ref([]);

const selectedVariation = ref();
const variationOptions = [{ name: 'Minor' }, { name: 'Major' }, { name: 'Offspec' }];

const closeModal = async (value) => {
    displayModal.value = false;
    emit('closeModal', value);
};

// watch(displayModal, async (value) => {
//     if (value) {
//         await store.dispatch('bosses/get', props.raid);
//         await store.dispatch('slots/get');
//     }
// });

const save = async () => {
    if (selectedWinner.value.length < 1) {
        $toast.error('Selecione ao menos um vencedor!');
        throw new Error('Selecione ao menos um vencedor!');
    }
    if (!selectedVariation.value) {
        $toast.error('Selecione uma variação!');
        throw new Error('Selecione uma variação!');
    }

    let namePlayers = '';
    const winner = [];

    selectedWinner.value.map((player, i) => {
        namePlayers += player.name + ', ';
        winner[i] = {
            class: player.class,
            email: player.email,
            ep: player.ep,
            gp: player.gp,
            name: player.name,
            role: player.role,
            server: player.server,
            id: player.id
        };
    });

    let gpToAdd = 0;
    if (selectedVariation.value == 'Major') {
        gpToAdd = data.value.gp;
        // } else if (selectedVariation.value == 'Minor') {
        //     gpToAdd = data.value.gp / 4;
    }

    confirm.require({
        message: `Deseja realmente adicionar ${gpToAdd} GP aos jogadores: '${namePlayers.substring(0, namePlayers.length - 2)}'?`,
        header: 'Deletar Jogador',
        icon: 'pi pi-exclamation-triangle',
        accept: async () => {
            let loader = $loading.show();
            try {
                winner.map(async (player) => {
                    player.gp += gpToAdd;
                    await store.dispatch('roster/update', player);
                });

                let logData = {
                    reason: data.value.drop.url,
                    type: 'gain',
                    variation: selectedVariation.value,
                    point_type: 'gp',
                    points: gpToAdd,
                    data: winner,
                    date: Timestamp.fromDate(new Date()),
                    responsible_email: user.value.email
                };

                await store.dispatch('logs/create', logData);
                toast.success('Pontos salvos com sucesso');
                closeModal(true);
                selectedWinner.value = [];
                confirm.close();
                loader.hide();
            } catch (error) {
                confirm.close();
                loader.hide();
                toast.error(error.toString());
                throw new Error(error);
            }
        },
        reject: () => {
            confirm.close();
        }
    });
};
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <DialogComponent title="Confirmar vencedor" :display="displayModal" @closeModal="closeModal(false)">
                <template v-slot:main>
                    <div class="grid p-fluid py-3">
                        <div class="col-12 text-center">
                            <img :src="data.drop.icon" style="max-width: 25px" /> <b id="drop" class="loot ml-2"> {{ data.drop.name }} / {{ data.drop.name_ptbr }}</b>
                        </div>
                        <div class="col-12 text-center">
                            <Dropdown id="variation" v-model="selectedVariation" placeholder="- Selecione uma variação -" :options="variationOptions" optionLabel="name" optionValue="name" :showClear="true" />
                        </div>
                        <div class="col-12">
                            <DataTable
                                :value="data.winners"
                                dataKey="id"
                                :paginator="true"
                                :rows="10"
                                class="p-datatable-gridlines p-datatable-sm"
                                paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                :rowsPerPageOptions="[10, 20, 50]"
                                responsiveLayout="scroll"
                                currentPageReportTemplate="{first} até {last} de {totalRecords}"
                                ref="dt"
                                v-model:selection="selectedWinner"
                            >
                                <template #empty>
                                    <div class="col-12 text-center">
                                        <span>Ainda não há dados ainda</span>
                                    </div>
                                </template>
                                <Column selectionMode="multiple" headerStyle="width: 3rem"></Column>
                                <Column field="name" header="Nickname" :sortable="true">
                                    <template #body="{ data }">
                                        <img alt="Class" style="max-width: 16px" :src="'/layout/images/class_icons/' + data.class + '.png'" /> <span :class="data.class">{{ data.name }}</span>
                                    </template>
                                </Column>
                                <Column field="ep" header="EP" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right ep">{{ data.ep }}</div>
                                    </template>
                                </Column>
                                <Column field="gp" header="GP" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right gp">{{ data.gp }}</div>
                                    </template>
                                </Column>
                                <Column field="pr" header="PR" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <div class="text-right pr">{{ data.pr.toFixed(2) }}</div>
                                    </template>
                                </Column>
                                <Column field="" header="Raider.io" :sortable="true" headerStyle="width: 3em">
                                    <template #body="{ data }">
                                        <a :href="'https://raider.io/characters/us/' + data.server + '/' + data.name" target="_blank"><img alt="Class" style="max-width: 70px" :src="'/layout/images/raiderio.svg'" /></a>
                                    </template>
                                </Column>
                            </DataTable>
                        </div>
                    </div>
                </template>
                <template v-slot:footer>
                    <div class="flex justify-content-end">
                        <Button icon="fa fa-check" class="p-button-raised p-button-success" label="Confirmar" @click="save()" />
                    </div>
                </template>
            </DialogComponent>
        </div>
        <ConfirmDialog />
    </div>
</template>
<style scoped></style>
