<script setup>
import { computed, ref } from 'vue';
import { useStore } from 'vuex';

import AppMenuItem from './AppMenuItem.vue';

const store = useStore();
const model = ref([
    {
        label: 'Home',
        items: [
            {
                label: 'Home',
                icon: 'fa fa-home',
                to: '/landing'
                // visible: () => this.$store.getters['auth/isAdmin']
            },
            {
                label: 'Adicionar Officer',
                icon: 'fa fa-plus',
                to: '/auth/signup'
                // visible: () => this.$store.getters['auth/isAdmin']
            },
            { separator: true },
            {
                label: 'Membros',
                icon: 'fa fa-users',
                to: '/roster'
                // visible: () => this.$store.getters['auth/isAdmin']
            },
            {
                label: 'Adicionar EP',
                icon: 'fa fa-plus',
                to: '/addep'
                // visible: () => this.$store.getters['auth/isAdmin']
            },
            {
                label: 'Loot',
                icon: 'fa fa-shopping-bag',
                to: '/loot'
                // visible: () => this.$store.getters['auth/isAdmin']
            },
            {
                label: 'Adicionar GP',
                icon: 'fa fa-gear',
                to: '/addgp'
                // visible: () => this.$store.getters['auth/isAdmin']
            },
            {
                label: 'Logs',
                icon: 'fa fa-list',
                to: '/logs'
                // visible: () => this.$store.getters['auth/isAdmin']
            }
        ]
    }
]);
const rio = computed(() => store.getters['auth/rio']);
</script>

<template>
    <ul class="layout-menu">
        <template v-for="(item, i) in model" :key="item">
            <div class="flex gap-2">
                <div class="my-auto">
                    <img align="center" class="text-center shadow rounded-circle my-auto" height="70" :src="rio.thumbnail_url" />
                    <!-- <Avatar :image="rio.thumbnail_url" class="mr-2" shape="circle" size="large" /> -->
                </div>
                <div class="flex flex-column align my-auto">
                    <div class="d-flex gap-2">
                        <div class="d-flex">
                            <img alt="Class" class="my-auto" style="max-width: 16px" :src="'/layout/images/class_icons/' + rio.class + '.png'" />&nbsp;<span :class="rio.class">{{ rio.name }}</span>
                        </div>
                        <div class="d-flex">
                            <img alt="Facção" style="max-width: 16px" :src="'/layout/images/factions/' + rio.faction + '.webp'" class="my-auto" />&nbsp;<b :class="rio.faction">{{ rio.realm }}</b>
                        </div>
                    </div>
                    <div class="d-flex" :class="rio.class"><img alt="Role" style="max-width: 16px" :src="'/layout/images/role_icons/' + rio.active_spec_role + '.webp'" class="my-auto" />&nbsp;{{ rio.active_spec_name }} {{ rio.class }}</div>
                    <a class="d-flex" :href="rio.profile_url" target="_blank">
                        <b class="mr-2">{{ rio.ilvl }} item level</b><img alt="rio" style="max-width: 16px" src="https://cdnassets.raider.io/images/brand/Icon_FullColor_Square.png" class="my-auto" /> <b>&nbsp;{{ rio.rio }}</b>
                    </a>
                </div>
            </div>
            <app-menu-item v-if="!item.separator" :item="item" :index="i"></app-menu-item>
            <li v-if="item.separator" class="menu-separator"></li>
        </template>
    </ul>
</template>

<style lang="scss" scoped></style>
